.author_details {
  display: flex;
  width: 450px;
  justify-content: left;
  align-items: center;

  height: 70px;
}

.avatar {
  height: 100%;
  object-fit: cover;
  width: 70px;
  border-radius: 50%;
}
